<!DOCTYPE>
<html style="text-align:center">
<h1>신이 나를 만들 때</h1>

    <h2>먼저 <%=@random1%> 을(를) 조금 넣고</h2>
         <%= image_tag("1.PNG") %>
    <h2>그다음 <%=@random2%> 을(를) 적당히 넣고</h2>
         <%= image_tag("2.PNG") %>
    <h2>마지막으로 <%=@random3%> 을(를) 으악!!</h2>
         <%= image_tag("3.PNG") %>
  




</html>